:root {
  --dark-color: rgb(75, 71, 71);
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
a,
button {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: cadetblue;
  background-color: var(--dark-color);
  text-decoration: none;
}
